name: environment
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.4
  - tqdm
  - tensorboard
  - numpy
  - scipy
  - matplotlib
  - seaborn
  - scikit-learn